<h2 class="text-2xl font-bold text-center mb-4">Registracija</h2>

<%= form_with(model: @user, local: true) do |f| %>
  <% if flash[:alert] %>
    <div class="bg-red-500 text-white p-3 rounded mb-4">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <div class="mb-4">
    <%= f.label :name, "Ime" %>
    <%= f.text_field :name, class: "p-3 border rounded w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, class: "p-3 border rounded w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :password, "Geslo" %>
    <%= f.password_field :password, class: "p-3 border rounded w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation, "Potrditev gesla" %>
    <%= f.password_field :password_confirmation, class: "p-3 border rounded w-full" %>
  </div>

  <%= f.submit "Registriraj se", class: "bg-blue-500 text-white p-3 rounded" %>
<% end %>
