<h1>Add New Car</h1>

<%= form_with model: @car, local: true, html: { multipart: true } do |f| %>
  <% if @car.errors.any? %>
    <div class="errors">
      <h2>There were some errors:</h2>
      <ul>
        <% @car.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :brand_id, "Brand" %>
    <%= f.collection_select :brand_id, Brand.all, :id, :name, { prompt: "Select a Brand" }, { class: "p-3 border rounded", id: "brand-select" } %>
  </div>

  <div>
    <%= f.label :model_id, "Model" %>
    <%= f.select :model_id, @models.map { |m| [m.name, m.id] }, { include_blank: "Select a Model" }, class: "p-3 border rounded", id: "model-select" %>
    <%= f.text_field :model_name, placeholder: "Or enter model name", class: "p-3 border rounded" %> <!-- Ročni vnos modela -->
  </div>

  <div>
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div>
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <div>
    <%= f.label :km %>
    <%= f.number_field :km %>
  </div>

  <div>
    <%= f.label :fuel_type %>
    <%= f.select :fuel_type, ['Petrol', 'Diesel', 'Electric', 'Hybrid'] %>
  </div>

  <div>
    <%= f.label :car_images, 'Car Images' %>
    <%= f.file_field :images, multiple: true, class: 'p-3 border rounded' %>  <!-- Omogočimo nalaganje več slik -->
  </div>

  <div>
    <%= f.submit 'Create Car', class: 'p-3 bg-blue-500 text-white rounded' %>
  </div>
<% end %>

<%= link_to 'Back to Cars', cars_path %>
